# Technical Assessment - Data Scientist
### Author: Nicolas Santos
### August 2022

---

### 1 Notebook set-up

In [2]:
#Housekeeping 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Formating the aesthetics of the notebook.

In [6]:
%%javascript
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [ ]:
%%html
<style>
table {float:left}
</style>

### 2 Data Cleaning

In [50]:
#Load raw excel file
data_raw = pd.read_excel(r'C:\Users\nsant\Documents\BoE\data\Data for technical assessment.xlsx', 
                             sheet_name="Dataset 1 - General", header = 1)

data_raw.rename(columns = {'Unnamed: 0':'ID'}, inplace = True)
data_raw.rename(columns = {'2016YE':'2016YE.0', 
                           '2017YE':'2017YE.0', 
                           '2017YE':'2017YE.0', 
                           '2018YE':'2018YE.0', 
                           '2019YE':'2019YE.0', 
                           '2020YE':'2020YE.0'}, inplace = True)
# Reshape data
data_raw = pd.wide_to_long(data_raw, stubnames = ["2016YE", "2017YE", "2018YE", "2019YE", "2020YE"], i="ID", j="Series", sep='.')

data_raw.rename(columns = {'2016YE':'2016', 
                           '2017YE':'2017', 
                           '2017YE':'2017', 
                           '2018YE':'2018', 
                           '2019YE':'2019', 
                           '2020YE':'2020'}, inplace = True)

#Dictionary with series name
series_dic = {0:'NWP', 1:'SCR', 2:'EoF_SCR', 3:'SCR_CR', 4:'GWP', 5:'TOT_ASSETS', 6:'TOTAL_LIAB', 7:'EXCESS'}

#Add series names to DF
data_raw = data_raw.reset_index()
for k, v in series_dic.items():
    data_raw = data_raw.replace({'Series': k}, v)
    
display(data_raw)

,ID,Series,2016,2017,2018,2019,2020
0,Firm 1,NWP,-13779.815629,0.000000,0.000000,0.000000,0.000000
1,Firm 2,NWP,28.178059,26.865049,25.064438,23.226445,21.718558
2,Firm 3,NWP,0.000000,75.609681,70.578732,78.432782,85.735830
3,Firm 4,NWP,22344.199923,23963.910709,25760.390158,25512.748836,24996.021042
4,Firm 5,NWP,68.200993,51.663132,44.010833,42.008556,81.273653
...,...,...,...,...,...,...,...
2595,Firm 321,EXCESS,0.000000,3.844471,128.747010,291.664237,295.164914
2596,Firm 322,EXCESS,2106.880505,2532.760949,2580.812898,2262.969251,2135.697712
2597,Firm 323,EXCESS,40.334144,61.742553,64.102075,61.516112,4.104700
2598,Firm 324,EXCESS,52.133515,46.976232,50.522585,55.057676,53.507509
2599,Firm 325,EXCESS,285.129083,339.565646,334.288033,326.848756,0.000000